
/**
 * Flashbag
 */
 div.flashbag {
    text-align: center;
    padding: 0.6rem 0 0.6rem 0;
    color: white;
    font-weight: bold;
    position: absolute;
    width: 100%;
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
 }

 .success {
    background-color:rgb(92, 177, 92);
 }
 .warning {
    background-color: orange;
 }
 .error {
    background-color: rgb(161, 27, 27);
 }